<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px;"></div>
<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new">New Campground</a>
</div>
<ul>
  <% for( const campground of campgrounds ) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4 my-auto mx-auto">
        <% if (campground.images.length) { %>
          <img class="img-fluid rounded" src="<%= campground.images[0]?.cover %>" alt="" />
        <% } else { %>
          <img class="img-fluid rounded" src="https://res.cloudinary.com/dhqivgfzq/image/upload/v1657768730/YelpCamp/no-image_ygqzt6.png" alt="no image available">
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-secondary"><%= campground.location %> </small>
          </p>

          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
            >View <%= campground.title %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>

<script>
  const mapboxToken = '<%= process.env.MAPBOX_TOKEN %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>
<script src="/js/clusterMap.js"></script>