<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>

<ul>
  <% for( const campground of campgrounds ) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4 my-auto mx-auto">
        <% if (campground.images.length) { %>
          <img class="img-fluid rounded" src="<%= campground.images[0]?.cover %>" alt="" />
        <% } else { %>
          <img class="img-fluid rounded" src="https://res.cloudinary.com/dhqivgfzq/image/upload/v1657768730/YelpCamp/no-image_ygqzt6.png" alt="no image available">
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-secondary"><%= campground.location %> </small>
          </p>

          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
            >View <%= campground.title %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>

<script>
  const mapboxToken = '<%= process.env.MAPBOX_TOKEN %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<script src="/js/clusterMap.js"></script>