<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

<main class="container p-5">
  
  <!-- Search bar -->
  <div class="input-group mb-5">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search">
    <button class="btn btn-primary" type="button" id="button-search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <!-- Campground Cards -->
  <% for( const campground of campgrounds ) { %>
  <div class="card mb-3">
    <div class="row">
      <!-- campground image -->
      <div class="col-lg-4 my-auto mx-auto">
        <% if (campground.images.length) { %>
          <img class="img-fluid rounded" src="<%= campground.images[0]?.cover %>" alt="" />
        <% } else { %>
          <img class="img-fluid rounded" src="https://res.cloudinary.com/dhqivgfzq/image/upload/v1657768730/YelpCamp/no-image_ygqzt6.png" alt="no image available">
        <% } %>
      </div>

      <div class="col-lg-8">
        <div class="card-body">
          <h4 class="card-title text-reset">
            <a href="/campgrounds/<%= campground._id %>">
              <%= campground.title %>
            </a>
          </h4>
          <p class="card-text">
            <small class="text-secondary"><%= campground.location %> </small>
          </p>
  
          <p class="card-text"><%= campground.description %></p>
          <div class="d-flex gap-2">
            <% for( let category of campground.category ) { %>
              <p class="fs-5">
                <span class="badge bg-secondary rounded-pill">
                <%= category %>
                </span>
              </p>
            <% } %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% } %>
  
</main>

<script>
  const mapboxToken = '<%= process.env.MAPBOX_TOKEN %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<script src="/js/clusterMap.js"></script>